#field .col-sm-6{
    margin-bottom: 6px;
}

#section-online-field, #section-normal-field{
    background-size: cover;
    max-height: 55vh;
    padding: 0%;
    margin-bottom: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
#section-online-field{
    display: flex;
    background-image: url(../img/onlinefield.png);
    max-width: calc(55vh*8/7);
    aspect-ratio: 8/7;
}
#section-normal-field{
    display: none;
    background-image: url(../img/normalfield.png);
    max-width: 55vh;
    aspect-ratio: 1/1;
}

#potseto1, #potseto2, #potseto3, #potseto4, #potsetn1, #potsetn2, #potsetn3, #potsetn4, #potsetn5{
    height: 25%;
    width: 27%;
    border-radius: 25%;
    border: 1px solid black; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#potseto1, #potsetn1{
    background-color: #aaffff;
}
#potseto2, #potseto4, #potsetn2, #potsetn3, #potsetn4{
    background-color: #fffaf5;
}
#potseto3, #potsetn5{
    background-color: #ff9a9a;
}

#section-online-field button, #section-normal-field button{
    border-radius: 50%;
}
#section-online-field label, #section-normal-field label{
    font-size: 10px;
}
#section-online-field p, #section-normal-field p{
    font-size: 10px;
}
#section-online-field .score, #section-normal-field .score{
    width: 100%;
}
#section-online-field .btn-grp, #section-normal-field .btn-grp{
    width: 100%;
}
.blue{
    margin-right: 21px;
    color: blue;
}
.red{
    color: red;
}
.break {
   flex-basis: 100%;
   height: 0;
}
.empty-flex{
    flex-basis: 27%;
}


@media only screen and (max-width: 768px) and (min-width: 576px) {
    #section-online-field button, #section-normal-field button{
        padding: .125rem .5rem;
        font-size: .75rem;
        line-height: 1.5;
    }
    #section-online-field label, #section-normal-field label{
        margin-bottom: 0;
        font-size: 8px;
    }
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #field .col-sm-6{
        margin-bottom: 4px;
    }
    
}