header, section, footer{
    margin-top: 0px;
    margin-bottom: 6px;
}
h4, h5, p, label{
    margin-bottom: 0px;
}

#section-header{
    background-color: grey;
    color: white;
    padding: 12px 0px;
}


#section-online-score label{
    padding-right: 1rem;
}
.progress{
    width: 100%;
}
#proScore{
    width: 0px;
}

#section-normal-score{
    display: none;
    margin-bottom: 20.8px;
}
#section-normal-score #blueScore{
    color: blue;
}
#section-normal-score #redScore{
    color: red;
}


#section-message .alert{
    margin-bottom: 0px;
}


.table-wrapper {
    max-height: 50vh;
    overflow: auto;
}

#section-button{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section{
        margin-bottom: 4px;
    }
    #section-normal-score{
        margin-bottom: 19.4667px;
    }
    .table-wrapper {
        max-height: none;
        overflow: hidden;
    }
}