#section-header{
    background-color: grey;
    color: white;
    padding: 12px 0px;
}
#section-header #row{
    justify-content: space-between;
}
#section-header h4{
    margin-bottom: 0px;
}


#section-online-score{
    margin-top: 12px;
}


#section-normal-score{
    display: none;
    margin-top: 17.4px;
    margin-bottom: 17.4px;
}
#section-normal-score #blueScore{
    color: blue;
}
#section-normal-score #redScore{
    color: red;
}


#section-online-field .container{
    background-image: url(onlinefield.png);
    background-size: cover;
    width: calc(40vh *8/7);
    height: 40vh;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#section-online-field #potseto1, #potseto2, #potseto3, #potseto4{
    height: 25%;
    width: 27%;
    border-radius: 25%;
    border: 1px solid black; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section-online-field #potseto1{
    background-color: #aaffff;
}
#section-online-field #potseto2, #potseto4{
    background-color: #fffaf5;
}
#section-online-field #potseto3{
    background-color: #ff9a9a;
}

#section-online-field button{
    border-radius: 50%;
}
#section-online-field label{
    margin-bottom: 0;
    font-size: 10px;
}
#section-online-field p{
    margin-bottom: 0%;
    font-size: 10px;
}
#section-online-field .score, #section-online-field .btn-grp{
    width: 100%;
}
#section-online-field .blue{
    margin-right: 21px;
    color: blue;
}
#section-online-field .red{
    color: red;
}
.break {
   flex-basis: 100%;
   height: 0;
}
.empty-flex{
    flex-basis: 27%;
}

#section-normal-field{
    display: none;
}
#section-normal-field .container{
    background-image: url(Untitled.png);
    background-size: cover;
    width: 40vh;
    height: 40vh;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
#section-normal-field #potsetn1, #potsetn2, #potsetn3, #potsetn4, #potsetn5{
    height: 25%;
    width: 27%;
    border-radius: 25%;
    border: 1px solid black; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#section-normal-field #potsetn1{
    background-color: #aaffff;
}
#section-normal-field #potsetn2, #potsetn3, #potsetn4{
    background-color: #fffaf5;
}
#section-normal-field #potsetn5{
    background-color: #ff9a9a;
}

#section-normal-field button{
    border-radius: 50%;
}
#section-normal-field label{
    margin-bottom: 0;
    font-size: 10px;
}
#section-normal-field p{
    margin-bottom: 0%;
    font-size: 10px;
}
#section-normal-field .score, #section-normal-field .btn-grp{
    width: 100%;
}
#section-normal-field .blue{
    margin-right: 21px;
    color: blue;
}
#section-normal-field .red{
    color: red;
}


#sequenceText{
    word-wrap: break-word;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #section-online-score{
        margin-top: 5px;
    }
    #section-online-score label{
        margin-bottom: 0px;
    }
    #section-timer label{
        margin-bottom: 0px;
    }
    #section-timer p{
        margin-bottom: 4px;
    }
}