.container { 
    height: 350px;
    position: relative;
    /*border: 1px solid black; */
    padding: auto;
}

.potset { 
    height: 80px;
    width: 115px;
    border-radius: 25px;
    position: absolute;
    border: 2px solid burlywood; 
    padding: 1%; 
    margin: 0%;
}

.pot { 
    height: 80px;
    width: 55px;
    position: absolute;
    /*border: 3px solid orange;*/
    padding: 0%; 
    margin: 0%;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    position: absolute;
    left:50%; 
    bottom:0; 
    transform: translateX(-50%);
    -webkit-appearance: none;
    touch-action: manipulation;
}

button{
    -webkit-appearance: none;
    touch-action: manipulation;
}

body {
    height: 100%;
    overflow-y: hidden;
 }

 h3{
    padding: 2px;
    margin: 0px;
}

.blue{
    background-color: #0000FF;
}
.red{
    background-color: #FF0000;
}